$Green: rgb(73,232,164);
$GreenSelected: rgb(59,173,121);
$GreenShadow: rgb(55, 174, 132);
$GreenShadowHover: rgb(41, 130, 92);

$Black: rgb(77,77,77);
$BlackerBlack: rgb(66,66,66);
$BlackShadow: rgb(132, 132, 132);
$BlackShadowHover: rgb(99, 99, 99);

$Grey: rgb(176,176,176);
$LightGrey: rgb(227,227,227);
$White: rgb(255,255,255);

$Red: rgb(255,105,105);
$RedSelected: rgb(249,78,78);
$RedShadow: rgb(191, 79, 79);
$RedShadowHover: rgb(187, 58, 57);

$Pink: rgb(255, 100, 169);
$Blue: rgb(37,175,165);