.investing footer {
	display: none;
}

.investing {
	position: relative;
	background: #1C1C1C;
	background-image: url(images/investing/bg-small.jpg);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-color: #464646;

  	@include media-query(tablet-portrait-and-smaller) {
  		background-image: none;
  	}
}

@keyframes fadeIn {
    from {
	    -ms-transform: translateY(200px); /* IE 9 */
	    -webkit-transform: translateY(200px); /* Chrome, Safari, Opera */
	    transform: translateY(200px);
    }
    to {
	    -ms-transform: translateY(0px); /* IE 9 */
	    -webkit-transform: translateY(0px); /* Chrome, Safari, Opera */
	    transform: translateY(0px);
    }
}

.investing-popup {
	-ms-transform: translateY(200px); /* IE 9 */
	-webkit-transform: translateY(200px); /* Chrome, Safari, Opera */
	transform: translateY(200px);
	z-index: 1000;
	position: fixed;
	cursor: pointer;
	bottom: 0;
	right: 0;
	background: #1C1C1C;
	padding: 20px 25px;
	animation-name: fadeIn;
    animation-duration: 0.6s;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-transition: all 0.7s; /* Safari */
    transition: all 0.7s;

	h5 {
		color: $Green;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 1em;
		position: relative;
		padding: 0;
		float: left;
		margin: 0 !important;
		padding-top: 12px;

		&:after {
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background-image:url(images/investing/arrow-green.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 0 0;
			position: absolute;
			right: -25px;
			top: 16px;
		}
	}

	h3 {
		margin: 0 !important;
		padding: 0;
		color: #fff;
	}

	&:hover {
		background: #000;
		text-decoration: none;
	}

	&.full-width {
		width: 100%;
		box-sizing: border-box;
		padding: 15px 10px;

		h3 {
			margin-left: 65px;
			float: left;
			font-size: 1em;
			margin-right: 25px;
		}

		h5 {
			padding-left: 25px;
			padding-top: 0px;
			float: left;
			margin-right: 65px !important;
		}

		.exit-btn {
			float: right;
			width: 20px;
			height: 20px;
			padding-top: 4px;
			background-image: url('images/investing/exit.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 0 0;
		}

		h5:after {
			top: 4px;
			right: -15px;
			float: right;
			position: relative;
		}
	}

	&.full-width:after {
		width: 100%;
		height: 3px;
		background: RGBA(21, 21, 21, 0.4);
		display: block;
		content: "";
		position:absolute;
		top: -3px;
		left: 0;
		right: 0;
	}

	@include media-query(tablet-portrait-and-smaller) {
		display: none;
	}
}

#investing-main {
	margin-top: 0;

	.background-image {
		width: 110%;
		height: auto;
		top: 0;
		left: 0;
	}

	.invest-sidebar {
		width: 400px;
		box-sizing: border-box;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		background: #1C1C1C;

		&:after {
			content: "";
			display: block;
			width: 3px;
			height: 100vh;
			background: rgba(0, 0, 0, 0.4);
			position: absolute;
			right: -3px;
			top: 0;
		}

		h3 {
			width: 100%;
			border-bottom: 1px solid #474747;
			display: block;
			font-family: 'dinBold', sans-serif;
			color: #fff;
			padding: 5px 25px 20px 25px;
			font-size: 1em;
			box-sizing: border-box;
		}

		h2 {
			color: #fff;
			padding: 10px 25px;
			font-size: 24px;
		}

		p {
			padding: 25px;
			padding-top: 0;
			font-size: 1.05em;
		}


	}

	.invest-draw {
		width: 60%;
		max-width: 800px;
		height: 100vh;
		background: #212121;
		position: absolute;
		overflow-y: scroll;
		top: 0;
		left: 400px;
		animation-name: investDraw;
		animation-timing-function: ease-in-out;
   		animation-duration: 0.7s;
   		-ms-transform: translate(-1700px); /* IE 9 */
   		-webkit-transform: translate(-1700px); /* Safari */
    	transform: translate(-1700px);
    	-webkit-transition: all 0.7s ease-in-out;
		moz-transition: all 0.7s ease-in-out;
		o-transition: all 0.7s ease-in-out;
		transition: all 0.7s ease-in-out;

   		&.active {
   			-ms-transform: translate(0); /* IE 9 */
   			webkit-transform: translate(0); /* Safari */
   			transform: translate(0);
   		}

		// &:after {
		// 	content: "";
		// 	display: block;
		// 	width: 3px;
		// 	height: 100vh;
		// 	background: rgba(0, 0, 0, 0.4);
		// 	position: absolute;
		// 	right: -3px;
		// 	top: 0;
		// }

		h3.invest-title {
			width: 100%;
			border-bottom: 1px solid #474747;
			display: block;
			color: #fff;
			padding: 5px 25px 20px 25px;
			font-size: 1em;
			box-sizing: border-box;
		}
	}

	.button-holders {
		box-sizing: border-box;
		padding: 25px;
	}

	.wpcf7-list-item span {
		text-transform: none;
	}

	.invest-button {
		box-sizing: border-box;
		width: 100%;
		position: relative;
		padding: 20px;
		background-color: #55A5FF;
		background-image: url('images/investing/arrow-right.svg');
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: 93% 22px;
		margin-bottom: 30px;
		display: block;
		text-transform: uppercase;
		font-family: 'dinBold', sans-serif;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		moz-transition: all 0.3s ease-in-out;
		o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		.active {
			background-color: #363636;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: 3px;
			position: absolute;
			background: rgba(0, 0, 0, 0.4);
			bottom: 0px;
			left: 0;
		}

		&:before {
			content: "";
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: 3px;
			position: absolute;
			background: rgba(85, 165, 255, 0.1);
			bottom: -3px;
			left: 0;
		}

		&:hover {
			background-color: #1F88FF;
			text-decoration: none;
		}
	}

	.g--two--third {
   		box-sizing: border-box;
   	}

	header:after {
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		background: rgba(0, 0, 0, 0.3);
	}

	header h1 {
		color: #212121;
	}

	h3 {
		color: #fff;
		line-height: 1.5em;
		margin-bottom: 20px;
		font-family: 'dinBold', sans-serif;
		font-size: 1em;
		clear: both;
	}

	.invest-form {
		padding: 0 25px;
		padding-top: 15px;
		box-sizing: border-box;
		margin-top: -8px;
		display: block;
		height: auto;
		overflow: auto;
	}

	.invest-form h3 {
		margin-top: 10px;
	}

	.invest-message {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #454545;
	}

	h3.bold {
		font-family: 'dinBold', sans-serif;
	}

	.g--two--third {
		display: block;
		margin: 0 auto;
		float: none;
	}

	p {
		margin-top: 0;
		color: #fff;
		overflow: auto;
		height: auto;
	}

	p.form-description {
		width: 100%;
		font-size: 1.1em;
	}

	h4 {
		color: #fff;
	}

	.wpcf7-list-item {
		width: calc(33.3% - 15px);
		display: block;
		float: left;
		margin-left: 4px;
		padding-bottom: 1px;
		font-size: 1.1em;

		.wpcf7-list-item-label {
			margin-left: 15px;
			color: #fff;
			font-size: 1.1em;
			padding: 0;
		}
	}

	.radio-column {
		width: calc(50% - 15px);
		display: block;
		float: left;
		margin-left: 4px;
		padding-bottom: 1px;
		padding-bottom: 10px;
	}

	.radio-column .wpcf7-list-item {
		width: 100%;
		display: block;
		float: left;
		margin-left: 4px;
		padding-bottom: 1px;
	}

	.second-investment .wpcf7-list-item {
		width: calc(50% - 15px);
		margin-bottom: 10px;
	}

	.second-investment .wpcf7-list-item span {
		display: block;
		float: left;
		text-transform: none;
		font-size: 1.2em;
		width: 240px;
	}

	.second-investment .wpcf7-list-item input[type="radio"] {
		float: left;
		margin-top: 15px;
		margin-right: 15px;
	}

	.second-investment .wpcf7-list-item.last .wpcf7-list-item-label  {
		padding-top: 10px;
	}

	.invest-bottom-options {
		clear: both;
		width: 100%;
		display: block;
		padding-top: 10px;

		p {
			float: left;
		}

		p:last-child {
			float: right;
		}

		a {
			text-decoration: 0;
			border-bottom: 2px solid #298BFB;
			color: #fff;
			float: left;
			cursor: pointer;
			width: auto;
			display: block;
			padding-top: 5px;
		}

		a:hover {
			text-decoration: none;
			color: #298BFB;
		}
	}

	input[type="submit"] {
		background: #298BFB;
		display: block;
		border: 0;
		outline: 0;
		-webkit-appearance: none;
		padding: 10px 20px;
		background: #298BFB3;
		text-transform: uppercase;
		float: right;
		font-family: 'dinBold', sans-serif;
		width: auto;
		color: #fff;
		cursor: pointer;
		@include border-radius(0px);
	}

	input[type="submit"]:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: rgba(0, 0, 0, 0.3);
		@include border-radius(0px);
	}

	input[type="text"], input[type="email"] {
		background: #151515;
		border: solid 2px #404040;
		color: #fff;
		margin-bottom: 10px;
		@include border-radius(0px);
		position: relative;

		&:focus {
		   border: solid 2px #298BFB;
		   color: #298BFB;
		   outline: none;
		}

		&.filledin {
			color: #298BFB;
			border: solid 2px #298BFB !important;
			background: #151515 !important;
		}
	}

	textarea {
		background: #151515;
		border: solid 2px #404040;
		color: #fff;
		margin-bottom: 0;
		box-sizing:  border-box;
		padding: 10px 10px;
		@include border-radius(0px);
		position: relative;
		resize: none;

		&:focus {
		   border: solid 2px #298BFB;
		   color: #298BFB;
		   outline: none;
		}

		&.filledin {
			color: #298BFB;
			border: solid 2px #298BFB !important;
			background: #151515 !important;
		}
	}

	img.ajax-loader {
		width: 15px !important;
		height: 15px !important;
		padding-right: 15px !important;
		padding-top: 10px !important;
	}

	.mobile-back-button {
		display: none;
	}

	@include media-query(tablet-landscape) {
		overflow: visible;	
		height: 100vh;
		
		.invest-sidebar { 
			width: 33.3%;
		}

		.invest-draw {
			width: 66.7%;
			left: 33.3%;
		}

		.background-image {
			width: 135%;
			margin-left: -35%;
		}
	}

	@include media-query(tablet-portrait-and-smaller) {
		overflow: scroll;
		position: relative;

		.radio-column { 
			width: 100%;
			padding-bottom: 0;
		}

		.radio-column:last-child {
			padding-bottom: 35px;
		}

		.mobile-back-button {
			position: fixed;
			text-decoration: none;
			text-transform: uppercase;
			box-sizing: border-box;
			top: 0;
			left: 0;
			width: 100%;
			background: #151515;
			height: auto;
			padding: 13px 35px;
			cursor: pointer;
			color: #fff;
			z-index: 10000;
			background-image: url('images/investing/arrow-left.svg');
			background-repeat: no-repeat;
			background-size: 8px;
			background-position: 15px 18px;
		}

		.mobile-back-button.active {
			display: block;
		}

		.background-image {
			display: none;
		}	

		.invest-sidebar { 
			width: 100%;
			overflow: hidden;
			position: relative;
			
			&:after {
				height: auto;
			}

			h3 {
				padding: 10px 15px 20px 15px;
			}

			h2 {
				color: #fff;
				padding: 0px 15px;
				font-size: 24px;
			}

			p {
				padding: 15px;
				font-size: 1.1em;
				padding-top: 0;
			}
		}

		.invest-bottom-options a { 
			display: none;
		}	

		.invest-draw {
			display: none;
			position: absolute;
			z-index: 1000;
			height: auto;
			width: 100%;
			left: 0px;
			padding-top: 50px;
			padding-bottom: 50px;

			.invest-form {
				padding: 0 15px;
			}

			h3.invest-title {
				padding: 10px 15px 20px 15px;
			}

			h3.invest-margin-above {
				padding-top: 20px;
			}

			&:after {
				display: none;
			}

			&.active {
				display: block;
			    -ms-transform: translate(0); /* IE 9 */
				webkit-transform: translate(0); /* Safari */
				transform: translate(0);
   			}

   			.invest-bottom-options { 
   				padding-bottom: 40px;
   			}

   			.wpcf7-list-item label {
   				font-size: 1em;
   			}

   			.wpcf7-list-item.last {
   				margin-bottom: 20px;
   			}

   			.second-investment .wpcf7-list-item {
				width: 100%;
				margin-bottom: 10px;
				box-sizing: border-box;
				font-size: 1.2em;
				overflow: hidden;
				margin-left: 0;
			}

			.wpcf7-list-item.first {
				margin-top: 0;
			}

			.second-investment .wpcf7-list-item:nth-child(5) span {
				padding-top: 10px;
			}

			.second-investment .wpcf7-list-item span {
				display: block;
				float: left;
				width: 280px;
				font-size: 1em;
			}

			textarea {
				padding: 15px;
			}
		}

		.padding-top {
			padding-top: 20px;
		}

		.button-holders {
			box-sizing: border-box;
			padding: 5px 15px;
		}

   		.g--two--third {
   			width: 100%;
   		}

   		.invest-form {
			margin: 25px 0 25px 0;
		}

		.invest-message { 
			margin-bottom: 20px;
			padding-bottom: 15px;
			height: auto;
			overflow: auto;
		}

		.wpcf7-list-item {
			width: 100%;
		}

		.wpcf7-list-item.first {
			margin-top: 20px;
		}

		p.form-description {
			padding-bottom: 0px;
		}

		.invest-form p.form-description {
			padding-bottom: 0px;
		}

		h3 {
			margin: 10px 0 25px 0;
		}

		input[type="text"], input[type="email"] {
			margin-bottom: 0;
		}

		fieldset.form-half:last-child {
			margin-bottom: 0;
			padding-bottom: 15px;
		}
    }

    @include media-query(tiny) {
    	.mobile-back-button {
    		font-size: 0.9em;
    	}

		h3 {
			font-size: 1em;
		}
    	
    	.invest-sidebar  {
    		overflow: scroll;

    		.invest-button {
    			font-size: 0.9em;
    		}

    		h3 {
    			font-size: 0.9em;
    		}

    		p {
				font-size: 0.9em;
			}	
    	}

    	.wpcf7-list-item label {
    		margin: 8px 0;
    		
    	}

    	.wpcf7-list-item .wpcf7-list-item-label {
			font-size: 0.9em !important;
    	}

    	.invest-draw {

    		.second-investment .wpcf7-list-item span {
    			font-size: 1.1em;
    			width: 230px;
    		}

    		div.wpcf7-response-output {
    			font-size: 0.8em;
    			width: 190px;
    			padding-top: 10px;
    		}

    		h3.invest-title {
    			font-size: 0.9em;
    		}

    		h3 {
    			font-size: 0.9em;
    			margin: 0px;
    			margin-bottom: 15px;
    		}

    		p {
				font-size: 1em;
			}	
    	}
    }
}