#press-full-article-main {
  .g--two--third {
    padding-left: 0;
  }

  @include media-query(tablet-portrait) {  
    .g--third {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    } 
  }
}